* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 18px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

form input {
    font-size: 25px;
    border-top: none;
}

form button {
    display: flex;
    margin-right: 1%;
    font-size: 25px;
    cursor: pointer;
    margin-left: 12px;
    background-color: rgb(153, 232, 153); 
}

ol li{
    display:flex;
    justify-content: center;
    margin-top: 70px;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 20px;
}

.riscado {
    text-decoration: line-through;
}