* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1effe;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

#contato {
    display: flex;
    justify-content: center;
    margin-top: 54px;
}

button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color:#119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0;
    cursor: pointer;
    border-radius: 6px;
}

.form-campo{
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo label{
    font-weight: bold;
    display: block;
}
